.header {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 30px;
  }


.link, a {
  text-decoration: none;
}

.navbar {
  padding-top: 30px;
  margin-left:10px;
}

.link {
  padding-left: 10px;
}

.header-logo {
  display: flex;
  color: #5F5671;
  font-size: 10px;
  margin: 5px;
}

.header-logo h1 {
  padding-top: 10px;
}

img{
  height: 60px;
  width: 60px;
}

.active {
  color : #00AEA5;
}

.navbar_burger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
  /*display: none;*/
}

/*RESPONSIVE*/
@media (min-width: 768px) {
  body {
      width: 85%;
  }
}



@media screen and (max-width:768px){
  .header-nav{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100vw;
    bottom: 0;
    height: 100vh;
    padding: 2rem;
    visibility: hidden;
    background-color: #00AEA5;
  }

  .show-nav .header-nav{
    right: 0;
    width: 100vw;
    visibility: visible;
  }

  .link{
    display: block;
    padding: 1.5rem;
    font-size: 5vw;
  }
  .navbar_burger {
    display: block;
  }

  .navbar_burger:hover {
    cursor:pointer;
    position: fixed;
    top:1rem;
    right: 1rem;
  }

  .burger-bar,
  .burger-bar::before,
  .burger-bar::after{
    display: block;
    width: 40px;
    height: 3px;
    position:relative;
    border-radius: 3px;
    background: #5F5671;
    transition: all .5s ease-in-out;
  }

  .burger-bar::before,
  .burger-bar::after{
    content:"";
    position: absolute;
    left: 0;
  }

  .burger-bar::before{
    transform: translateY(-12px);
  }

  .burger-bar::after{
    transform: translateY(12px);
  }

  .show-nav .burger-bar {
    background: transparent;
    width: 0;
  }

  .show-nav .burger-bar::before {
    transform: rotate(45deg);
  }

  .show-nav .burger-bar::after {
    transform: rotate(-45deg);
  }

}