.navbar {
    display: flex;
    align-items:center;
    justify-content: space-between;
    color: black;
    padding: 10px;
    /*width: 100vw;*/
    min-height: 75px;
  }


.navbar-link, a {
  text-decoration: none;
}

.navbar {
  padding-top: 30px;
  margin-left:10px;
}

.navbar-link {
  padding-left: 10px;
}


.navbar-logo {
  display: flex;
  color: #5F5671;
  margin: 5px;
}

.navbar-logo h1 {
  padding-top: 10px;
  font-size: 10px;
}

img{
  height: 60px;
  width: 60px;
}

.active {
  color : #00AEA5;
}

.navbar_burger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
  display: none;
}

/*RESPONSIVE*/

/*@media screen and (max-width:768px){*/