.Super-main {
    background-image: url("../../assets/images/pen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.Main {
    display:flex;
    justify-content: center;
    padding-top: 270px;
    height: 900px;
}

.Main-left {
    width: 50%;
}

.Main-map-button {
    font-size: 10px;
    background-color: transparent;
    color: black;
    padding: 10px;
    border-radius: 10px;
    border:none;
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle; /* Aligne verticalement le contenu */
    text-decoration: none;
}

.Main-map-button img,
.Main-map-button p {
  display: inline-block; /* Affiche l'image et le texte sur la même ligne */
  vertical-align: middle; /* Aligne verticalement le contenu */
  margin: 0; /* Supprime les marges par défaut */
  /* Autres styles si nécessaire */
}

.Main-map-button p {
    padding-left: 5px;
    font-weight:600;
  }
  
.Main-map-button:hover {
    color: white;
    background-color: #00AEA5;
}

.Main-map-button a:visited {
  /* Styles pour les états visités, focus et actifs des liens à l'intérieur du bouton */
  color: white;
}

.Main-left h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.Main-left p {
    font-size: 20px;
    font-weight: 400;
}

.Main h2 {
    color: #00AEA5;
    font-weight: 900;
    font-size: 30px;
    text-shadow: 1px 1px 1px white;
}

.Main-curseur {
    width: 30px;
    height: 30px;
}

.read-more {
    font-size: 15px;
    background-color: transparent;
    color: #073D77;
    border-radius: 10px;
}

.read-more a:visited {
    /* Styles pour les états visités, focus et actifs des liens à l'intérieur du bouton */
    color: #073D77;
}

.read-more:hover {
    color: white;
    background-color: #00AEA5;
    font-weight: bold;
}

.Main-right {
    width: 350px;
    height: 350px;
    padding-left: 40px;
    padding-right: 40px;
    background: rgba(255,255,255, 0.8);
    margin-left: 10px;
    color:#073D77;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Main-right h3 {
    font-size: 20px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border:none;
    border-radius: 10px;
    background-color: #00AEA5;
    color: white;
    margin-top: 20px;
}

.Main-right h1 {
    font-size: 30px;
}

.Main-right p {
    font-size: 20px;
    margin-top: 10px;
}

.Main-details {
    width: 1300px;
    margin:0 auto;
}

.Main-details-right {
    font-size: 10px;
}

.Main-details img {
    width: 500px;
    height: 500px;
}

.Main-paragraphe {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.Main-paragraphe h3 {
    color: #00AEA5;
    font-size: 15px;
    padding-bottom: 10px;
}

.Main-paragraphe h1 {
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 10px;
    color:#073D77;
}

.Main-paragraphe p{
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 20px;
}

.Main-paragraphe button {
    padding: 5px;
    background-color: transparent;
    border: 0.5px solid #00AEA5;
    color: black;
}

.Main-paragraphe button:active{
    color:initial;
}

.Main-details-left {
    padding-right: 40px;
}

@media screen and (max-width: 768px) {
    .Main-details{
        width: 80%;
    }
}