.Team {
    width: 700px;
    margin:0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.Team h1 {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 30px;
}

.Team p {
    font-size: 12px;
    text-align: center;
    padding-bottom: 30px;
}

.Team img {
    width: 600px;
    height: 400px;
    margin:0 auto;
}