.Footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #00AEA5;
}

.Footer h3 {
    font-size: 22px;
    padding-top: 20px ;
    font-weight: bold;
    padding-bottom: 10px;
}

.Footer p {
    font-size: 20px;
    padding-bottom: 10px;
    line-height: 22px;
}

.Footer-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Footer-right{
    width: 50%;
    max-height: 400px;
}

.Footer button {
    font-size: 17px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border:none;
    border-radius: 10px;
    background-color: #073D77;
    color: white;
    font-weight: bold;
}

.Footer-rdv a {
    color: white;
}

.Legal-mentions {
    font-size: 13px;
    text-align: center;
    color: gray;
    padding-top: 15px;
    padding-bottom: 15px;
}